<div id="chat-help" class="hidden">
    <div id="help-content" class="hidden">
        <span id="help-header">
            How can we help you?
        </span>
        <div id="help-msg">
            <ul>
                <a href="/change-credentials/">
                    <li>Change Credentials</li>
                </a>
                <a href="/contact/">
                    <li>Contact Us</li>
                </a>
            </ul>
        </div>
        <button id="close-btn">
            Close
        </button>
    </div>
</div>